<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earthquake Monitor System Map</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" 
    crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

</head>
<body>
    <div id="map" style="height: 100vh; width: 100%;"></div>
    <script>
        var osmLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        });

        var map = L.map('map',{
            center: [-40.9006, 174.8860], // set on New Zealand's center coordinate
            zoom: 5,
            layers: [osmLayer] // OpenStreetMap tile provider
        });

        var earthquakes = L.geoJson(null, {
            pointToLayer: function(feature, latlng) {
                var coordinates = L.latLng(feature.geometry.coordinates[1], feature.geometry.coordinates[0]);
                var marker = L.marker(coordinates);
                var mmi =feature.properties.mmi;
                
                // Define a function to map mmi to circle radius
                function getCircleRadius(mmi) {
                    return mmi * 10000;
                }

                // Add click event handler for markers
                marker.on('click', function(e) {
                    map.setView(e.latlng, 11);
                    var locationName = feature.properties.location_name;
                    var mmi = feature.properties.mmi;
                    var today = new Date();
                    var popupContent = 
                        "<strong>Date and Time:</strong> " + today +
                        "<br><strong>Location:</strong> " + locationName + 
                        "<br><strong>Earthquake Intensity(MMI):</strong> " + mmi;
                                      
                    var popup = L.popup()
                        .setLatLng(coordinates)
                        .setContent(popupContent)
                        .openOn(map);

                    var circle = L.circle(coordinates, {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5,
                        radius: getCircleRadius(mmi)
                    }).addTo(map);
                });

                return marker;
            }
        });
        
        map.addLayer(earthquakes);

        // Set the URL dynamically using a JavaScript variable
        var url = "{% url 'Earthquake_API' %}";

        // Fetch the data using the dynamically set URL
        $.getJSON(url, function(data){
            console.log("API Data:", data);
            earthquakes.addData(data);
            map.fitBounds(earthquakes.getBounds());
        });

       
    </script>
</body>
</html>